<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @cliente.nombre %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @cliente.telefono %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @cliente.mail %>
</p>

<p>
  <strong>Fechacompra:</strong>
  <%= @cliente.fechacompra %>
</p>

<p>
  <strong>Preciomin:</strong>
  <%= @cliente.preciomin %>
</p>

<p>
  <strong>Preciomax:</strong>
  <%= @cliente.preciomax %>
</p>

<p>
  <strong>Utilmin:</strong>
  <%= @cliente.utilmin %>
</p>

<p>
  <strong>Utilmax:</strong>
  <%= @cliente.utilmax %>
</p>

<p>
  <strong>Totalmin:</strong>
  <%= @cliente.totalmin %>
</p>

<p>
  <strong>Totalmax:</strong>
  <%= @cliente.totalmax %>
</p>

<p>
  <strong>Latmin:</strong>
  <%= @cliente.latmin %>
</p>

<p>
  <strong>Latmax:</strong>
  <%= @cliente.latmax %>
</p>

<p>
  <strong>Lonmin:</strong>
  <%= @cliente.lonmin %>
</p>

<p>
  <strong>Lonmax:</strong>
  <%= @cliente.lonmax %>
</p>

<p>
  <strong>Dormitoriosmin:</strong>
  <%= @cliente.dormitoriosmin %>
</p>

<p>
  <strong>Dormitoriosmax:</strong>
  <%= @cliente.dormitoriosmax %>
</p>

<p>
  <strong>Banosmin:</strong>
  <%= @cliente.banosmin %>
</p>

<p>
  <strong>Banosmax:</strong>
  <%= @cliente.banosmax %>
</p>

<p>
  <strong>Estacionamientos:</strong>
  <%= @cliente.estacionamientos %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @cliente.tipo %>
</p>

<p>
  <strong>Operacion:</strong>
  <%= @cliente.operacion %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cliente.estado %>
</p>

<p>
  <strong>Region:</strong>
  <%= @cliente.region %>
</p>

<p>
  <strong>Comuna1:</strong>
  <%= @cliente.comuna1 %>
</p>

<p>
  <strong>Comuna2:</strong>
  <%= @cliente.comuna2 %>
</p>

<p>
  <strong>Comuna3:</strong>
  <%= @cliente.comuna3 %>
</p>

<p>
  <strong>Comuna4:</strong>
  <%= @cliente.comuna4 %>
</p>

<p>
  <strong>Comuna5:</strong>
  <%= @cliente.comuna5 %>
</p>

<p>
  <strong>Comuna6:</strong>
  <%= @cliente.comuna6 %>
</p>

<p>
  <strong>Metrodistance:</strong>
  <%= @cliente.metrodistance %>
</p>

<p>
  <strong>Linea:</strong>
  <%= @cliente.linea %>
</p>

<p>
  <strong>Lineab:</strong>
  <%= @cliente.lineab %>
</p>

<p>
  <strong>Lineac:</strong>
  <%= @cliente.lineac %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @cliente.activo %>
</p>

<p>
  <strong>Rentmin:</strong>
  <%= @cliente.rentmin %>
</p>

<p>
  <strong>Sendmail:</strong>
  <%= @cliente.sendmail %>
</p>

<p>
  <strong>Prioridad:</strong>
  <%= @cliente.prioridad %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
