
<div class= 'container'>
<%= simple_form_for(@pedido,  wrapper_mappings: {
  check_boxes:    :vertical_collection,
  radio_buttons:  :vertical_collection,
  file:           :custom_file,
  boolean:        :custom_boolean_switch
}) do |f| %>
  
  
  
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-group">
    <%= f.input :nombre %>
    <%= f.input :mail %>
    <%= f.input :telefono %>
    <%= f.input :descripcion %>
    <%= f.input :tipo %>
    <%= f.input :operacion %>
    <%= f.input :region %>
    <%= f.input :comuna %>
    <%= f.input :direccion %>
    <%= f.input :superficie %>
    <%= f.input :dorms %>
    <%= f.input :bano %>
    <%= f.input :estacionamiento %>
    <%= f.input :anio %>
    <%= f.input :piso %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

  
<% end %> 
</div>