
<div class= 'container'>
<%= simple_form_for( @pedido) do |f| %>
  
  
  
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-group">
    <%= f.input :nombre, label: 'Nombre' %>
    <%= f.input :mail, label: 'Correo' %>
    <%= f.input :telefono, label: 'Teléfono' %>
    <%= f.input :descripcion, as: :text %>
    <%= f.input :tipo, collection: ['Departamento','Casa','Oficina'] %>
    <%= f.input :operacion, collection: ['Venta', 'Arriendo'] %>
    <%= f.input :region, as: :radio_buttons, collection: [' I Región de Tarapacá','Región Metropolitana', 'Ninguna'%>
    <%= f.input :comuna %>
    <%= f.input :direccion %>
    <%= f.input :superficie %>
    <%= f.input :dorms , label: 'Dormitorios'%>
    <%= f.input :bano, , label: 'Baños' %>
    <%= f.input :estacionamiento , label: 'Estacionamientos'%>
    <%= f.input :anio, label: 'Año' %>
    <%= f.input :piso, label: 'Cantidad de pisos/ Piso en que se encuentra' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

  
<% end %> 
</div>