
<%= form_for @pedido do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-group">
    <label>Nombre</label>
    <%= f.text_field :nombre %>
    <%= f.input :mail %>
    <%= f.input :telefono %>
    <%= f.input :descripcion %>
    <%= f.input :tipo, collection: {Departamento: :depto, Oficina: Of}%>
    <%= f.input :operacion %>
    <%= f.input :region %>
    <%= f.input :comuna %>
    <%= f.input :direccion %>
    <%= f.input :superficie %>
    <%= f.input :dorms %>
    <%= f.input :bano %>
    <%= f.input :estacionamiento %>
    <%= f.input :anio %>
    <%= f.input :piso %>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success"> ENVIAR </button>
  #<div class="form-actions">
    #<%= f.button :submit %>
  </div>
<% end %> 
