
<div class= 'container'>
<%= simple_form_for( @pedido, wrapper: :horizontal_form,
wrapper_mappings: {
  boolean:       :horizontal_boolean,
  check_boxes:   :horizontal_collection,
  date:          :horizontal_multi_select,
  datetime:      :horizontal_multi_select,
  file:          :horizontal_file,
  radio_buttons: :horizontal_collection,
  range:         :horizontal_range,
  time:          :horizontal_multi_select
}) do |f| %>
  
    
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-group">
    <%= f.input :nombre, label: 'Nombre', :required => true %>
    <%= f.input :mail, label: 'Correo', placeholder: 'nombre@dominio.com', :required => true %>
    <%= f.input :telefono, label: 'Teléfono', placeholder: '+56912345678', :required => true %>
  </div> 
  <div class="form-group">
  <br>
  <h5> Porfavor ingrese los datos sobre la propiedad a tasar</h5>
    
    <%= f.input :tipo, collection: ['Departamento','Casa','Oficina', 'Terreno', 'Parcela', 'Estacionamiento'], :required => true %>
    <%= f.input :operacion, label: 'Operación', as: :radio_buttons, wrapper: :vertical_collection_inline, collection: ['Venta', 'Arriendo'], placeholder: 'Seleccione accion que desea realizar con la propiedad', :required => true %>
    <%= f.input :direccion, label: 'Dirección', hint: 'Dirección de la propiedad a tasar.', :required => true %>  
    
    <%= f.input :region, collection: [
      'I Región de Tarapacá'], label: 'Región', :required => true %>
    <%= f.input :comuna, collection: ['Seleccione e'], label: 'Comuna', :required => true %>

    <%= f.input :superficie, placeholder: 'Superficie total aprox.', label: 'Superficie total' %>
    <%= f.input :sup_util, placeholder: 'Superficie util aprox.', label: "Superficie útil" %>
    <%= f.input :terreno, label: 'Superficie del terreno'%>
    <%= f.input :constr, label: 'Superficie construida'%>

    <%= f.input :dorms , label: 'Dormitorios', collection: 0 .. 10 %>
    <%= f.input :bano, label: 'Baños', collection: 0 .. 10 %>
    <%= f.input :estacionamiento , label: 'Estacionamientos', collection: 0 .. 10%>
    <%= f.input :anio, label: 'Año', collection: 1950 .. Time.current.year %>
    <%= f.input :num_piso, label: 'Cantidad de Pisos' %>
    <%= f.input :piso, label: 'Piso en el que se encuentra'%>
    <%= f.input :privado, label: 'Privado(s)'%>
    <%= f.input :orientacion , label: 'Orientacion', collection: ['Norte', 'Sur', 'Este', 'Oeste'], as: :radio_buttons %>
    <%= f.input :descripcion, as: :text, placeholder: 'Datos adicionales que desee agregar sobre su propiedad' %>


    <script type="text/javascript">
    $('#pedido_tipo').on('change',function(){
        if ($('#pedido_tipo').val() == 'Terreno'){
          $('.pedido_superficie').hide();
          $('.pedido_sup_util').hide();
          $('.pedido_estacionamiento').hide();
          $('.pedido_dorms').hide();
          $('.pedido_bano').hide();
          $('.pedido_piso').hide();
          $('.pedido_orientacion').hide();
          $('.pedido_anio').hide();
          $('.pedido_constr').hide();
          $('.pedido_terreno').show();
          $('.pedido_num_piso').hide();
          $('.pedido_privado').hide();
         
          }
        else if ($('#pedido_tipo').val() == 'Estacionamiento'){
          $('.pedido_superficie').hide();
          $('.pedido_sup_util').hide();
          $('.pedido_estacionamiento').hide();
          $('.pedido_dorms').hide();
          $('.pedido_bano').hide();
          $('.pedido_piso').hide();
          $('.pedido_orientacion').hide();
          $('.pedido_anio').hide();
          $('.pedido_constr').hide();
          $('.pedido_terreno').hide();
          $('.pedido_num_piso').hide();
          $('.pedido_privado').hide();
        
          }
        else if ($('#pedido_tipo').val() == 'Oficina'){
          $('.pedido_superficie').show();
          $('.pedido_sup_util').show();
          $('.pedido_estacionamiento').show();
          $('.pedido_dorms').hide();
          $('.pedido_bano').show();
          $('.pedido_piso').show();
          $('.pedido_orientacion').show();
          $('.pedido_anio').show();
          $('.pedido_constr').hide();
          $('.pedido_terreno').hide();
          $('.pedido_num_piso').hide();
          $('.pedido_privado').show();
          }
        else if ($('#pedido_tipo').val() == 'Parcela'){
          $('.pedido_superficie').show();
          $('.pedido_sup_util').hide();
          $('.pedido_estacionamiento').hide();
          $('.pedido_dorms').show();
          $('.pedido_bano').show();
          $('.pedido_piso').hide();
          $('.pedido_orientacion').hide();
          $('.pedido_anio').hide();
          $('.pedido_constr').show();
          $('.pedido_terreno').hide();
          $('.pedido_num_piso').show();
          $('.pedido_privado').hide();
        }
        else if($('#pedido_tipo').val() == 'Casa'){
          $('.pedido_superficie').hide();
          $('.pedido_sup_util').hide();
          $('.pedido_estacionamiento').hide();
          $('.pedido_dorms').show();
          $('.pedido_bano').show();
          $('.pedido_piso').hide();
          $('.pedido_orientacion').hide();
          $('.pedido_anio').show();
          $('.pedido_constr').show();
          $('.pedido_terreno').show();
          $('.pedido_num_piso').show();
          $('.pedido_privado').hide();
        }
        else{
          $('.pedido_superficie').show();
          $('.pedido_sup_util').show();
          $('.pedido_estacionamiento').show();
          $('.pedido_dorms').show();
          $('.pedido_bano').show();
          $('.pedido_piso').show();
          $('.pedido_orientacion').show();
          $('.pedido_anio').show();
          $('.pedido_constr').hide();
          $('.pedido_terreno').hide();
          $('.pedido_num_piso').hide();
          $('.pedido_privado').hide();
        }
       
    });    
  
    </script>
    
    
    
  </div>

  <div class="form-actions">
    <%= f.button :submit, label: 'Tasar', class: 'btn btn-success' %>
  </div>

  
<% end %> 
</div>