
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Start of  Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=4e129f72-fd8c-42a4-b5d4-24d24a3b2055"> </script>
<!-- End of  Zendesk Widget script -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Vendetudepto.cl</title>

  <!-- Bootstrap core CSS -->
  <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <%= stylesheet_link_tag 'vendetudepto/simple-line-icons' %>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

  <!-- Plugin CSS -->
  <%= stylesheet_link_tag 'vendetudepto/device-mockups.min' %>

  <!-- Custom styles for this template -->
  <%= stylesheet_link_tag 'vendetudepto/new-age' %>

  <link rel="shortcut icon" href="http://www.vendetudepto.cl/favicon.png" type="image/x-icon" />

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
  
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#download">Contacto</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-12 my-auto">
          <div class="header-content mx-auto">

            <h1 class="mb-5 center ">Vende tu depto!</h1>
            <h2 class="mb-5 center ">Sin Trámites</h2>
            <h2 class="mb-5 center ">Sin Problemas</h2>
            <h2 class="mb-5 center ">Sin Complicaciones</h2>
            <div class="center"> <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger center">Contáctanos</a></div>
            
          </div>
        </div>
      

      </div>
    </div>
  </header>










<section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Nuestras Propiedades - Ventas</h1>
          </div>
        </div>
      </div>
      
      <table class="table table-striped">
<thead>
<tr>
<th scope="col">Nr</th>
<th scope="col">Tipo</th>
<th scope="col">Valor UF</th>
<th scope="col">Comuna</th>
<th scope="col">Dormitorios</th>
<th scope="col">Baños</th>
<th scope="col">Estacionamientos</th>
<th scope="col">Link Portal</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>Depto</td>
<td>9900</td>
<td>Las Condes</td>
<td>2</td>
<td>3</td>
<td>1</td>
<td><a href=" https://www.portalinmobiliario.com/venta/departamento/las-condes-metropolitana/4722332-avenida-isabel-la-catolica-avenida-americo-vespucio-sur-uda "> <div style="height:100%;width:100%">Ver Propiedad</div></a></td></tr>
<tr>
<td>2</td>
<td>Casa</td>
<td>7980</td>
<td>La Florida</td>
<td>6</td>
<td>4</td>
<td>2</td>
<td><a href=" https://www.portalinmobiliario.com/venta/casa/la-florida-metropolitana/4720453-calle-ongolmo-con-walker-martinez-uda "> <div style="height:100%;width:100%">Ver Propiedad</div></a></td></tr>
<tr>
<td>3</td>
<td>Casa</td>
<td>4712</td>
<td>Estación Central</td>
<td>2</td>
<td>2</td>
<td>1</td>
<td><a href=" https://www.portalinmobiliario.com/venta/casa/estacion-central-metropolitana/4726368-isabel-de-castilla-rey-carlos-iii-uda "> <div style="height:100%;width:100%">Ver Propiedad</div></a></td></tr>
<tr>
<td>4</td>
<td>Depto</td>
<td>3262</td>
<td>Ñuñoa</td>
<td>2</td>
<td>1</td>
<td>1</td>
<td><a href=" https://www.portalinmobiliario.com/venta/departamento/santiago-metropolitana/4736322-santa-elvira-vicuna-mackenna-uda "> <div style="height:100%;width:100%">Ver Propiedad</div></a></td></tr>
<tr>
<td>5</td>
<td>Depto</td>
<td>2600</td>
<td>Ñuñoa</td>
<td>2</td>
<td>2</td>
<td>0</td>
<td><a href=" https://www.portalinmobiliario.com/venta/departamento/nunoa-metropolitana/4672288-vicuna-mackenna-1231-uda "> <div style="height:100%;width:100%">Ver Propiedad</div></a></td></tr>
<tr>
<td>6</td>
<td>Depto</td>
<td>3750</td>
<td>Santiago</td>
<td>3</td>
<td>2</td>
<td>1</td>
<td><a href=" https://www.portalinmobiliario.com/venta/departamento/santiago-metropolitana/4661138-general-mackenna-1260-uda "> <div style="height:100%;width:100%">Ver Propiedad</div></a></td></tr>
<tr>
<td>7</td>
<td>Depto</td>
<td>1890</td>
<td>Santiago</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td><a href=" https://www.portalinmobiliario.com/venta/departamento/santiago-metropolitana/4661059-cienfuegos-78-uda "> <div style="height:100%;width:100%">Ver Propiedad</div></a></td></tr>
<tr>
<td>8</td>
<td>Depto</td>
<td>2180</td>
<td>Santiago</td>
<td>1</td>
<td>1</td>
<td>0</td>
<td><a href=" https://www.portalinmobiliario.com/venta/departamento/santiago-metropolitana/4656553-santo-domingo-1243-uda "> <div style="height:100%;width:100%">Ver Propiedad</div></a></td></tr>
<tr>
<td>9</td>
<td>Depto</td>
<td>3769</td>
<td>Ñuñoa</td>
<td>2</td>
<td>2</td>
<td>1</td>
<td><a href=" https://www.portalinmobiliario.com/venta/departamento/nunoa-metropolitana/4726452-san-eugenio-carlos-dittborn-uda "> <div style="height:100%;width:100%">Ver Propiedad</div></a></td></tr>
<tr>
<td>10</td>
<td>Depto</td>
<td>5300</td>
<td>Ñuñoa</td>
<td>2</td>
<td>2</td>
<td>1</td>
<td><a href=" https://www.portalinmobiliario.com/venta/departamento/nunoa-metropolitana/4733159-iarrazaval-los-jardines-uda "> <div style="height:100%;width:100%">Ver Propiedad</div></a></td></tr>
<tr>
<td>11</td>
<td>Depto</td>
<td>2066</td>
<td>Santiago</td>
<td>1</td>
<td>1</td>
<td>0</td>
<td><a href=" https://www.portalinmobiliario.com/venta/departamento/santiago-metropolitana/4739945-santa-elena-nuble-uda "> <div style="height:100%;width:100%">Ver Propiedad</div></a></td></tr>
</tbody>
</table>


    </div>
  </section>

<section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Nuestras Propiedades - Arriendos</h1>
          </div>
        </div>
      </div><table class="table table-striped">
<thead>
<tr>
<th scope="col">Nr</th>
<th scope="col">Tipo</th>
<th scope="col">Valor</th>
<th scope="col">Comuna</th>
<th scope="col">Dormitorios</th>
<th scope="col">Baños</th>
<th scope="col">Estacionamientos</th>
<th scope="col">Link portalinmobiliario</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<tr>
<td>Depto</td>
<tr>
<td>$740.000</td>
<tr>
<td>Providencia</td>
<tr>
<td>3</td>
<tr>
<td>2</td>
<tr>
<td>0</td>
<tr>
<td><a href=" http://www.portalinmobiliario.com/arriendo/departamento/providencia-metropolitana/4797816-perez-valenzuela-avenida-manuel-montt-uda "> <div style="height:100%;width:100%">Ver Propiedad</div></a></td></tr>
<tr>
<td>2</td>
<tr>
<td>Depto</td>
<tr>
<td>$460.000</td>
<tr>
<td>Las Condes</td>
<tr>
<td>1</td>
<tr>
<td>1</td>
<tr>
<td>1</td>
<tr>
<td><a href=" https://www.portalinmobiliario.com/arriendo/departamento/las-condes-metropolitana/4735971-avenida-las-condes-la-cabana-uda "> <div style="height:100%;width:100%">Ver Propiedad</div></a></td></tr>
<tr>
<td>3</td>
<tr>
<td>Depto</td>
<tr>
<td>$300.000</td>
<tr>
<td>San Miguel</td>
<tr>
<td>1</td>
<tr>
<td>1</td>
<tr>
<td>0</td>
<tr>
<td><a href=" http://www.portalinmobiliario.com/arriendo/departamento/san-miguel-metropolitana/4797800-tercera-avenida-primera-transversal-uda "> <div style="height:100%;width:100%">Ver Propiedad</div></a></td></tr>
<tr>
<td>4</td>
<tr>
<td>Depto</td>
<tr>
<td>$567.000</td>
<tr>
<td>Providencia</td>
<tr>
<td>2</td>
<tr>
<td>2</td>
<tr>
<td>1</td>
<tr>
<td><a href=" https://www.portalinmobiliario.com/arriendo/departamento/providencia-metropolitana/4753269-zanartu-alferez-real-uda "> <div style="height:100%;width:100%">Ver Propiedad</div></a></td></tr>
<tr>
<td>5</td>
<tr>
<td>Depto</td>
<tr>
<td>$690.000</td>
<tr>
<td>Las Condes</td>
<tr>
<td>2</td>
<tr>
<td>2</td>
<tr>
<td>1</td>
<tr>
<td><a href=" http://www.portalinmobiliario.com/arriendo/departamento/las-condes-metropolitana/4785556-hernando-de-magallanes-cristobal-colon-uda "> <div style="height:100%;width:100%">Ver Propiedad</div></a></td></tr>
<tr>
<td>6</td>
<tr>
<td>Depto</td>
<tr>
<td>$700.000</td>
<tr>
<td>Providencia</td>
<tr>
<td>2</td>
<tr>
<td>2</td>
<tr>
<td>1</td>
<tr>
<td><a href=" http://www.portalinmobiliario.com/arriendo/departamento/providencia-metropolitana/4788275-avenida-los-leones-bustos-uda "> <div style="height:100%;width:100%">Ver Propiedad</div></a></td></tr>
<tr>
<td>7</td>
<tr>
<td>Depto</td>
<tr>
<td>Ñuñoa</td>
</tr>
<tr>
<td>8</td>
<tr>
<td>Depto</td>
<tr>
<td>$400.000</td>
<tr>
<td>San Miguel</td>
<tr>
<td>1</td>
<tr>
<td>1</td>
<tr>
<td>1</td>
<tr>
<td><a href=" http://www.portalinmobiliario.com/arriendo/departamento/san-miguel-metropolitana/4797793-san-nicolas-1278-uda "> <div style="height:100%;width:100%">Ver Propiedad</div></a></td></tr>
<tr>
<td>10</td>
<tr>
<td>Depto</td>
<tr>
<td>$320.000</td>
<tr>
<td>San Miguel</td>
<tr>
<td><a href=" http://www.portalinmobiliario.com/arriendo/departamento/san-miguel-metropolitana/4799822-berlin-200-uda "> <div style="height:100%;width:100%">Ver Propiedad</div></a></td></tr>
</tbody>
</table>
    
</div>
  </section>









  <div class='container' id='FormTasador' style="padding-top: 30px; padding-bottom: 30px;">
    <div class="row justify-content-center text-center mb-60">
        <div class="col-lg-12">
        <h2 class="text-black fw-3">Tasación gratuita de tu <strong class="fw-7"></strong> <span class="text-blue">Propiedad</span></h2> 
        </div>
    </div>  
    <%= render 'form', pedido: @pedido %>          
  </div>

  <section class="download bg-primary text-center" id="download">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h2 class="section-heading">Ofrecemos gratis servicio de tasación y publicaciones premium en los principales portales.</h2>
          <h3>Contáctanos</h3>
          <p><i class="fas fa-envelope"></i> <a href = "mailto: contacto@vendetudepto.cl" style="color:black">contacto@vendetudepto.cl</a></p>
          <p><i class="fab fa-whatsapp"></i> +569 3391 1985</p>
          <p><i class="fas fa-map-pin"></i> Av. Manquehue Norte 151 Of. 703</p>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; BullEstate SpA 2019. All Rights Reserved.</p>
      
    </div>
  </footer>

  <!-- Plugin JavaScript -->
  <%= javascript_include_tag 'jquery.easing.min.js' %>

  <!-- Custom scripts for this template -->
  <%= javascript_include_tag 'new-age.min.js' %>
  <script>
(function(i,s,o,g,r,a,m){
  i['GoogleAnalyticsObject']=r;
  i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},
  i[r].l=1*new Date();
  a=s.createElement(o),m=s.getElementsByTagName(o)[0];
  a.async=1;
  a.src=g;
  m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-136269714-1', 'auto');
ga('send', 'pageview');
</script>

</body>

</html>
