
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>BullEstate | Real Estate Data Science</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="bulltheme">

    <link rel="shortcut icon" href="images/favicon.ico"><!-- Favicon Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"><!-- Google Fonts -->
    <link rel="stylesheet" href="css/plugins.css"><!-- plugins Css -->
    <link rel="stylesheet" type="text/css" href="css/style.css"><!-- Custom Css -->

    <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


    <%= stylesheet_link_tag "helper" %>
    <%= stylesheet_link_tag "fonts-icons" %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <body>
    <!-- Start PreLoader
    ================================================== -->
    <div id="pre-loader" class="pre-loader">
        <div class="cube-wrapper">
            <div class="cube-folding">
                <span class="leaf1"></span>
                <span class="leaf2"></span>
                <span class="leaf3"></span>
                <span class="leaf4"></span>
            </div>
            <span class="loading" data-name="Loading">Cargando...</span>
        </div>
        <div class="pre-loader-logo"><span class="text-uppercase fw-2 text-black">Bull<span class="fw-8 text-red">Estate</span></span></div>
    </div>
    <!-- End PreLoader
    ================================================== -->

    <!-- Start Header
    ================================================== -->
    <header class="header">
        <nav class="navbar navbar-expand-lg p-0 navbar-custom">
            <div class="header-logo">
                <a class="navbar-brand d-flex align-items-center text-white bg-black" href="#">
                    <span class="text-uppercase fw-2">Bull<span class="fw-8 text-blue">Estate</span></span>
                </a>
            </div>
            <div class="header-nav ml-auto">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item active"><a class="nav-link page-scroll" href="#home">Home <span class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a class="nav-link page-scroll" href="#vender">Vender Propiedad</a></li>
                        <li class="nav-item"><a class="nav-link page-scroll" href="#comprar">Comprar Propiedad</a></li>
                        <li class="nav-item"><a class="nav-link page-scroll" href="#invertir">Invertir en Propiedades</a></li>
                        <li class="nav-item"><a class="nav-link page-scroll" href="#equipo">Equipo</a></li>
                        

                        <li class="nav-item"><a class="nav-link page-scroll" href="#contact">Contacto</a></li>
                        <li class="nav-item d-none d-lg-block"><a class="nav-link js-fr-offcanvas-open" aria-controls="offcanvas-2" href="#OffCanvas"><span class="ti-more-alt"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="header-social d-flex align-items-center">
                <ul class="list-unstyled mb-0 list-inline header-social-inner">
                    <li class="list-inline-item d-none d-sm-inline-block">Síguenos en las redes sociales:</li>
                    <li class="list-inline-item"><a href="#"><span class="d-none d-md-inline-block">Facebook</span><i class="fab fa-facebook-f ml-2"></i></a></li>
                    <li class="list-inline-item"><a href="#"><span class="d-none d-md-inline-block">Twitter</span><i class="fab fa-twitter ml-2"></i></a></li>
                    <li class="list-inline-item"><a href="#"><span class="d-none d-md-inline-block">Linkedin</span><i class="fab fa-linkedin-in ml-2"></i></a></li>
              </ul>
                <a class="header-follow-close d-flex justify-content-center align-items-center" href="#"><span class="ti-close"></span></a>
            </div>
            <div class="mobile-menu d-md-block d-lg-none">
                <a class="header-follow d-flex justify-content-center align-items-center" href="#"><span class="ti-sharethis"></span></a>
                <a class="d-flex justify-content-center align-items-center js-fr-offcanvas-open" aria-controls="offcanvas-2" href="#"><span class="ti-more-alt"></span></a>
                <a class="navbar-toggler d-flex justify-content-center align-items-center" data-toggle="collapse" href="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="bar1"></span>
                    <span class="bar2"></span>
                    <span class="bar3"></span>
                </a>
            </div>
        </nav>
    </header>
    <!-- Start Home
    ================================================== -->        
    <section id="home" class="d-flex align-items-center section text-white full-home" data-parallax data-speed="0" data-src=<%= image_path("bg4.jpg") %> >
        <div class="overlay-gridtile-black"></div>
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8 text-center">
                    <h1 class="text-uppercase mb-0 fw-7 text-white font-50 font-sm-80 font-md-100 font-lg-100">BullEstate</h1>
                    <h5 class="fw-4"><strong>Su tasación fue realizada con éxito.</h5>
                    <h5 class="fw-4"><strong>Ésta fue enviada a <%= @pedido.mail %></h5>
                    <h5 class="fw-4"><strong>Cualquier consulta no dudes en enviarla a : blabla></h5>

                    
                    <a href="#comprar" class="btn btn-blue ml-1 mr-1 mt-4 page-scroll">Volver</a>
                    
                </div>
            </div>
        </div>
        <a href="#services" class="home-scroller page-scroll text-white">
            <span class="ti-mouse"></span>
        </a>
    </section>
    <!-- End Home
    ================================================== -->   
    
    
    <!-- Start Footer
        ================================================== -->
        <footer class="section bg-black text-white">
            <div class="container">
                <div class="row justify-content-center text-center mb-30">
                    <div class="col-lg-12">
                        <h2 class="fw-3"><span class="text-uppercase fw-2">Bull<span class="fw-7 text-blue">Estate</span></span></h2>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-12">
                        <p>2018 © BullEstate Chile. Todos los derechos reservados.</p>
                    </div>
                </div>
                <div class="row text-center mt-4">
                    <div class="col-lg-12">
                        <ul class="list-unstyled mb-0 footer-social">
                           
                           
                            <li><a href="https://www.linkedin.com/company/bullestate/"><i class="fab fa-linkedin-in"></i></a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer
        ================================================== -->
    
        <!-- Start Back to Top
        ================================================== -->
        <a href="#" class="back-to-top" id="back-to-top"><span class="ti-arrow-up"></span></a>
        <!-- End Back to Top
        ================================================== -->
    
        
        <%= javascript_include_tag('jquery.min.js') %>
        <%= javascript_include_tag('plugins.js') %>
        <%= javascript_include_tag('app.js') %>
        <%= javascript_include_tag('index.js') %>
    
      
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhS88E7WGYgrr2chM0z94OLBWKNDXxESk"></script><!-- Google Map JS -->
    </body>
</html>