<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @pedido.nombre %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @pedido.mail %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @pedido.telefono %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @pedido.descripcion %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @pedido.tipo %>
</p>

<p>
  <strong>Operacion:</strong>
  <%= @pedido.operacion %>
</p>

<p>
  <strong>Region:</strong>
  <%= @pedido.region %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @pedido.comuna %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @pedido.direccion %>
</p>

<p>
  <strong>Superficie:</strong>
  <%= @pedido.superficie %>
</p>

<p>
  <strong>Dormitorios:</strong>
  <%= @pedido.dorms %>
</p>

<p>
  <strong>Baño:</strong>
  <%= @pedido.bano %>
</p>

<p>
  <strong>Estacionamiento:</strong>
  <%= @pedido.estacionamiento %>
</p>

<p>
  <strong>Año:</strong>
  <%= @pedido.anio %>
</p>

<p>
  <strong>Piso/ pisos:</strong>
  <%= @pedido.piso %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
