<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>BullEstate | Real Estate Data Science</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="bulltheme">

    <link rel="shortcut icon" href="images/favicon.ico"><!-- Favicon Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"><!-- Google Fonts -->
    <link rel="stylesheet" href="/css/plugins.css"><!-- plugins Css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css"><!-- Custom Css -->

    <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


    <%= stylesheet_link_tag "helper" %>
    <%= stylesheet_link_tag "fonts-icons" %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <body>
    <!-- Start PreLoader
    ================================================== -->
    <div id="pre-loader" class="pre-loader">
        <div class="cube-wrapper">
            <div class="cube-folding">
                <span class="leaf1"></span>
                <span class="leaf2"></span>
                <span class="leaf3"></span>
                <span class="leaf4"></span>
            </div>
            <span class="loading" data-name="Loading">Cargando...</span>
        </div>
        <div class="pre-loader-logo"><span class="text-uppercase fw-2 text-black">Bull<span class="fw-8 text-red">Estate</span></span></div>
    </div>
    <!-- End PreLoader
    ================================================== -->

    <!-- Start Header
    ================================================== -->
    <header class="header">
          <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
          
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#download">Contacto</a>
                  </li>

                </ul>
              </div>
            </div>
          </nav>
    </header>
    <!-- Start Home
    ================================================== -->        
    <section id="home" class="d-flex align-items-center section text-white full-home" data-parallax data-speed="0" data-src=<%= image_path("bg4.jpg") %> >
        <div class="overlay-gridtile-black"></div>
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8 text-center">
                    <h1 style="font-size: 5rem;">Vende Tu Depto!</h1>
                    <h5 class="fw-4"><strong>Su tasación fue realizada con éxito.</h5>
                    <h5 class="fw-4"><strong>Ésta fue enviada a <%= @pedido.mail %></h5>
                    <h5 class="fw-4"><strong>Cualquier consulta no dudes en enviarla a <a href="mailto:contacto@bullestate.cl">contacto@bullestate.cl</a></h5>
                    <%= @pedidos %>
                    
                    <a href="/pedidos" class="btn btn-default">Volver</a>
                    
                </div>
            </div>
        </div>
        
    </section>
    <!-- End Home
    ================================================== -->   
    
    
    <!-- Start Footer
        ================================================== -->
        <footer>
        <div class="container">
          <p>&copy; BullEstate SpA 2019. All Rights Reserved.</p>
          
        </div>
      </footer>
        <!-- End Footer
        ================================================== -->
    
        <!-- Start Back to Top
        ================================================== -->
        <a href="#" class="back-to-top" id="back-to-top"><span class="ti-arrow-up"></span></a>
        <!-- End Back to Top
        ================================================== -->
    
        
        <%= javascript_include_tag('jquery.min.js') %>
        <%= javascript_include_tag('plugins.js') %>
        <%= javascript_include_tag('app.js') %>
        <%= javascript_include_tag('index.js') %>
    
      
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhS88E7WGYgrr2chM0z94OLBWKNDXxESk"></script><!-- Google Map JS -->
    </body>
</html>